.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  color: black;
}

.navigation {
  padding: 20px;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.navigation h1 {
  margin-bottom: 20px;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 10px;
}

/* Add the styles for centering the image */
.home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  max-width: 500px; /* Adjust the size as needed */
}

.image-container img {
  width: 100%;
  height: auto;
}
